@import '../globalImports.scss';

.pdp {
    padding: 2rem 1rem;

    @media (min-width: $media-phone-breakpoint) {
        padding: 3rem 13vw;
    }

    &-gallery {
        @media (min-width: $media-phone-breakpoint) {
            align-self: flex-start;
            bottom: 0;
            position: sticky;
            top: 18.5rem;
        }

        &-loading {
            visibility: hidden;
            position: relative;
            flex: 0 0 48%;
            top: unset;
            min-height: 56vh;

            &::before {
                animation: 1.5s linear infinite spinner;
                animation-play-state: inherit;
                border: solid 5px #cfd0d1;
                border-bottom-color: #1c87c9;
                border-radius: 50%;
                content: '';
                height: 40px;
                width: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                will-change: transform;
                visibility: visible;
                z-index: 10;
            }
        }
    }

    &-data {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: space-between;

        @media (min-width: $media-phone-breakpoint) {
            flex-direction: row;
        }
    }

    &-content {
        flex: 0 0 52%;
        @media (min-width: $media-phone-breakpoint) {
            min-height: 58vh;
        }
    }

    &-faq {
        margin-top: 5rem;
        @media (min-width: $media-phone-breakpoint) {
            margin-top: 15rem;
        }
    }
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
