@import '../globalImports.scss';

.accordion {
    border-top: 0.3rem solid $color-border;
    margin: 0 auto;

    &__item {
        border-bottom: 0.3rem solid $color-border;
    }

    &__button {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        font-size: $u-heading-6;
        padding: 2rem 3rem 2rem 2rem;
        position: relative;
        width: 100%;

        @media (min-width: $media-phone-breakpoint) {
            font-size: $u-heading-4;
        }

        &::after {
            content: '\002B';
            font-size: $u-heading-2;
            font-weight: 500;
            position: absolute;
            right: 2%;
            top: 45%;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease;

            @media (min-width: $media-phone-breakpoint) {
                font-size: $u-heading-1;
            }
        }

        &-open::after {
            transform: translate(-50%, -50%) rotate(45deg);
            transition: transform 0.3s ease;
        }
    }

    &__panel {
        font-size: $u-medium-text;
        overflow: hidden;
        padding: 0 5rem 0 2rem;
        transition: max-height 0.5s ease;
        @media (min-width: $media-phone-breakpoint) {
            font-size: $u-heading-5;
        }
    }
}
