@import '../globalImports.scss';

.offline-store {
    &__title {
        font-size: $u-heading-5;
        font-weight: 600;
        letter-spacing: 0.25rem;
        margin-top: 2.5rem;
        padding-left: 0.5rem;
        text-transform: uppercase;

        @media (min-width: $media-phone-breakpoint) {
            font-size: $u-heading-4;
        }
    }

    &__stores {
        padding: 0 2rem;
    }

    .button-addtocart {
        background-color: green;
        color: white;
        display: flex;
        gap: 1.25rem;
        align-items: center;
        padding: 1rem 3.4rem;
        border-radius: 3rem;
        border: none;
        font-size: $u-heading-5;
    }

    .addcart-loading {
        align-self: center;
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid transparent;
        width: 2.8rem;
        height: 2.8rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
