@import '../constants/configs';

.text {
    margin: 2rem;
    text-align: center;

    &__info {
        font-size: $u-heading-5;
        font-weight: 800;
        padding: 1rem;
        text-align: center;

        @media (min-width: $media-phone-breakpoint) {
            font-size: $u-heading-2;
        }
    }
}
