// imports

//: Global
$primary-box-sizing: border-box;
$primary-page-font-size: 62.5%;
$primary-body-font-size: 1.6rem;
$primary-body-line-height: 1.5;
$primary-body-margin: 0;
$primary-paragraph-font-weight: 300;
$primary-paragraph-line-height: 1.6;
$primary-paragraph-margin-block: 0.75rem;
$primary-heading-margin-block: 0;
$primary-component-font: inherit;
$primary-image-height: auto;
$primary-image-max-width: 100%;
$primary-image-vertical-align: middle;
$primary-cursor: pointer;
$component-spacing: 2rem 0;

//: Global fonts;
$primary-brand-font: 'Source Sans Pro', sans-serif;
$secondary-brand-font: 'Source Serif Pro', serif;
$font-family: $primary-brand-font;
$font-family-title: $secondary-brand-font;

//: brand colours;
$primary-brand-color: #103be6;
$secondary-brand-color: #fff;
$tertiary-brand-color: #fff;

//: secondary colours;
$primary-background: #fff;
$secondary-background: #fff;
$tertiary-background: #fff;

//: typography;
$u-heading-1: 4rem;
$u-heading-2: 3.5rem;
$u-heading-3: 3rem;
$u-heading-4: 2.5rem;
$u-heading-5: 2rem;
$u-heading-6: 1.5rem;
$u-large-text: 1.8rem;
$u-small-text: 1.1rem;
$u-medium-text: 1.4rem;
$u-micro-text: 1rem;

//: Color;
$color-background: #fff;
$color-foreground: #000;
$color-link: #000;
$color-text: #000;
$color-accent: #2954ff;
$color-accent-lighter: #436eff;
$color-accent-darker: #103be6;
$color-shade-1: #eceff1;
$color-shade-2: #cfd8dc;
$color-shade-3: #607d8b;
$color-shade-4: #455a64;
$color-warn: #f00;
$link-color: #413f47;
$link-color-hover: #f5f5f5;
$link-focus-color: #333f47;
$color-global-white: #fff;
$color-global-black: #000;
$color-global-grey-1: lighten($color-global-black, 99%);
$color-global-grey-5: lighten($color-global-black, 95%); // #f2f2f2
$color-global-grey-10: lighten($color-global-black, 90%); // #e6e6e6
$color-global-grey-15: lighten($color-global-black, 85%); // #d9d9d9
$color-global-grey-20: lighten($color-global-black, 80%); // #cccccc
$color-global-grey-25: lighten($color-global-black, 75%); // #bfbfbf
$color-global-grey-30: lighten($color-global-black, 70%); // #b3b3b3
$color-global-grey-35: lighten($color-global-black, 65%); // #a6a6a6
$color-global-grey-40: lighten($color-global-black, 60%); // #999999
$color-global-grey-45: lighten($color-global-black, 55%); // #8c8c8c
$color-global-grey-50: lighten($color-global-black, 50%); // #808080
$color-global-grey-55: lighten($color-global-black, 45%); // #737373
$color-global-grey-60: lighten($color-global-black, 40%); // #666666
$color-global-grey-65: lighten($color-global-black, 35%); // #595959
$color-global-grey-70: lighten($color-global-black, 30%); // #4d4d4d
$color-global-grey-75: lighten($color-global-black, 25%); // #404040
$color-global-grey-80: lighten($color-global-black, 20%); // #333333
$color-global-grey-85: lighten($color-global-black, 15%); // #262626
$color-global-grey-90: lighten($color-global-black, 10%); // #1a1a1a
$color-global-grey-95: lighten($color-global-black, 5%); // #0d0d0d

// breakpoints
$media-phone-breakpoint: 768px;
