@import './globalImports.scss';

*,
*::before,
*::after {
    box-sizing: $primary-box-sizing;
}

html {
    font-size: $primary-page-font-size;
    scroll-behavior: smooth;
}

body {
    background: $color-global-grey-1;
    color: $color-text;
    font-family: $font-family;
    font-size: $primary-body-font-size;
    letter-spacing: 1px;
    line-height: $primary-body-line-height;
    margin: $primary-body-margin;
    overflow-x: hidden;
}

a {
    color: $link-color;
}

p {
    font-weight: $primary-paragraph-font-weight;
    line-height: $primary-paragraph-line-height;
    margin-block: $primary-paragraph-margin-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: $primary-heading-margin-block;
}

button,
input,
optgroup,
select,
textarea {
    font: $primary-component-font;
}

img {
    height: $primary-image-height;
    max-width: $primary-image-max-width;
    vertical-align: $primary-image-vertical-align;
}

button {
    cursor: $primary-cursor;
}

.main-content {
    margin-top: 11rem;

    @media (min-width: $media-phone-breakpoint) {
        margin-top: 18rem;
    }
}
